.partners {
  padding: 55px 0 90px;
  margin-bottom: 150px;

  &::before {
    right: 50%;
    top: 0;
  }

  &__inner {
    margin-top: 40px;
  }

  &__item {
    height: 75px;
    object-fit: contain;
  }
}