.registration,
.settings {
  display: block;

  &__input-row {
    &+& {
      margin-top: 20px;
    }
  }

  &__input-wrapper {
    flex: 1 1 100%;

    &+& {
      margin-left: 20px;
    }

    &--2 {
      flex: 1 1 calc(100%/2 - 20px);
    }

    &--3 {
      flex: 1 1 calc(100%/3 - 40px);
    }
  }

  &__comment-field {
    min-height: 220px;
  }

  &__checkbox {
    margin-left: 40px;
    max-width: 77%;
  }

  &__btn {
    margin-top: 28px;
    max-width: 260px;
  }
}

.settings{
  
}