<!-- SECTION - header -->
<header class="header">
  <div class="container">



    <!-- SECTION - header-top -->
    <div class="header__top">
      <a class="header__logo logo"
        href="index.html">
        <img class="logo__picture"
          src="images/logo.png"
          alt="ASCLIN логотип">
      </a>
      <div class="header__icons">
        <ul class="header__icon-list icon-list">
          <li class="icon-list__item">
            <a href="https://facebook.com"
              class="icon-list__link">
              ASCLIN Facebook
            </a>
          </li>
          <li class="icon-list__item">
            <a href="https://instagram.com"
              class="icon-list__link">
              ASCLIN Instagram
            </a>
          </li>
          <li class="icon-list__item">
            <a href="personal.html"
              class="icon-list__link">
              Личный кабинет
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- !SECTION - header-top -->



    <!-- SECTION - header-bottom -->
    <div class="header__bottom flex">
      <div class="header__box flex">
        <h1 class="header__title">
          ASCLIN
          <span class="header__title-sub">
            ассоциация специалистов
            по клинической
            нейрофизиологии
          </span>
        </h1>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item">
              <a href="about.html"
                class="header__menu-link">
                об ассоциации
              </a>
            </li>
            <li class="header__menu-item">
              <a href="events.html"
                class="header__menu-link">
                Мероприятия
              </a>
            </li>
            <li class="header__menu-item">
              <a href="recomendations.html"
                class="header__menu-link">
                Рекомендации
              </a>
            </li>
            <li class="header__menu-item">
              <a href="specialists.html"
                class="header__menu-link">
                Специалисты
              </a>
            </li>
            <li class="header__menu-item">
              <a href="education.html"
                class="header__menu-link">
                образование
              </a>
            </li>
            <li class="header__menu-item">
              <a href="forum.html"
                class="header__menu-link">
                форум
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <button class="header__btn white-btn js-reg-btn"
        type="button"></button>
    </div>
    <!-- !SECTION - header-bottom -->



  </div>
</header>
<!-- !SECTION - header -->