<!DOCTYPE html>
<html lang="en">
@@include('components/_head.html')

<body>
  @@include('components/_header.html')
  <main class="page-content">

  </main>
  @@include('components/_contact-form.html')
  <div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__box">
      @@include('components/_modal-account.html')
      @@include('components/_modal-reg.html')
      @@include('components/_modal-settings.html')
    </div>
  </div>
  @@include('components/_footer.html')
  @@include('components/_scripts.html')
</body>

</html>