html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}