html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  line-height: 1.75;
  color: $text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  scroll-behavior: smooth;
}

a {
  color: $text;
  text-decoration: none;

  &:visited {
    color: $main;
  }
}

button:focus,
input:focus,
textarea:focus,
a:focus {
  outline: transparent;
}

h1,
.like-h1 {
  font-weight: bold;
  font-size: 110px;
  line-height: 134px;
  margin: 0;
}

h2,
.like-h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  color: $main;
  position: relative;
  z-index: 1;

  &::before {
    content: attr(data-shadow);
    font-size: 1em;
    z-index: 1;
    position: relative;
  }

  &::after {
    content: attr(data-shadow);
    position: absolute;
    color: $grey;
    font-size: 1.83em;
    left: 10px;
    bottom: 10px;
    z-index: 0;
  }
}

h3,
.like-h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}